# Dependencias de Node.js
node_modules/
pnpm-lock.yaml
yarn.lock

# Directorios de compilación y cache
dist/
.tmp/
.cache/
out/

# Logs y archivos temporales
npm-debug.log*
yarn-debug.log*
yarn-error.log*
serverless-debug.log

# Configuración de entorno


# Archivos del sistema
.DS_Store
Thumbs.db

.vscode/
