<nav class="w-full flex bg-gray-50 dark:bg-gray-800 border-gray-200">
  <div class="flex flex-wrap justify-end items-center w-full px-9 py-5.5">
    <div class="flex items-center w-full justify-end">
      <button (click)="toggleTheme()" class="mr-4">
        @if(isDarkMode) {
        <svg
          class="w-6 h-6 text-yellow-400"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.364 6.364l-.707-.707M12 6.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM21 12a9 9 0 11-18 0 9 9 0 0118 0z"
          ></path>
        </svg>
        }@if (!isDarkMode) {
        <svg
          class="w-6 h-6 text-gray-500"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z"
          ></path>
        </svg>
        }
      </button>
      <a
        href="#"
        class="text-sm text-blue-600 dark:text-blue-500 hover:underline"
        >Login</a
      >
    </div>
  </div>
</nav>
